.snake-grid {
    display: inline-grid;
    background-color: grey;
    grid-template-columns: repeat(15, 30px);
    grid-template-rows: repeat(15, 30px);
}

.cells{
    background-color: darkseagreen;
    border: 1px solid black;
    width: 30px;
    height: 30px;
}

.snake-head{
    background-color: #7db219;
    width: 30px;
    height: 30px;
}

.snake-body{
    background-color: darkseagreen;
}