* {
    margin: 0;
    padding: 0;

}

body {
    font-family: var(--font-family);
    background-color: #0a0f12;
    color: #333;
    width: 100%;

}

#root {
    margin: 0;
    padding: 0;
    height: 100vh;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #0a0f12;
    overflow: hidden;
}