.home-page{
    margin: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    height: calc(100% - 20px);
}

.desktop{
    background-image: url('../src/assets/images/marek.jpg');
    background-size: cover;
    border-radius: 10px;
    position: relative;
}

.img-radius
{
    border-radius: 10px;
}